@media screen and (orientation: portrait) {
    .box_empresa {
        width: calc((100vw - 40px)/3);
        height: calc((100vw - 40px)/3);
    }
}

@media screen and (orientation: landscape) {
    .box_empresa {
        width: calc((100vh - 40px)/3);
        height: calc((100vh - 40px)/3);
    }
    .box_empresa_target {
        font-size: xx-large;
    }
}

.content_box {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
}

.box_empresa {
    margin: 0;
    border-radius: 25px;
    border: 5px solid var(--bdr_box_empresa);
    text-align: center;
    overflow: hidden;
    display: block;
}

.box_empresa:hover, .box_empresa:active {
    cursor: pointer;
}

.box_empresa_target {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    padding: 10px;
    font-weight: 700;
    font-family: Glegoo;
}

.last_item {
    flex-grow: 3;
}

.plusicon {
    height: 80px;
}

.scroll {
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.scroll::-webkit-scrollbar {
    display: none;
}