/* ==================================== PRIMERA TIRADA PEQUEÑO (EN PROCESO) ==================================== */
@media screen and (max-width: 376px) and (orientation: portrait) and (max-height: 700px) {
    .maincircle {
        min-width: 200px;
        min-height: 200px;
        width: 45vw;
        height: 45vw;
        top: 60%;
        transform: translateY(-60%);
    }
    .valuecircle {
        font-size: 45pt;
        line-height: 55pt;
    }
}

@media screen and (max-width: 376px) and (orientation: portrait) and (min-height: 700px) and (max-height: 790px){
    .maincircle {
        min-width: 260px;
        min-height: 260px;
        width: 55vw;
        height: 55vw;
        top: 60%;
        transform: translateY(-60%);
    }
    .valuecircle {
        font-size: 55pt;
        line-height: 65pt;
    }
}

@media screen and (max-width: 376px) and (orientation: portrait) and (min-height: 790px){
    .maincircle {
        min-width: 260px;
        min-height: 260px;
        width: 55vw;
        height: 55vw;
        top: 50%;
        transform: translateY(-50%);
    }
    .valuecircle {
        font-size: 55pt;
        line-height: 65pt;
    }
}
/* ==================================== PRIMERA TIRADA PEQUEÑO (EN PROCESO) ==================================== */


/* ==================================== SEGUNDA TIRADA DEFAULT (EN PROCESO) ==================================== */
@media screen and (min-width: 376px) and (max-width: 416px) and (orientation: portrait) and (max-height: 700px) {
    .maincircle {
        min-width: 200px;
        min-height: 200px;
        width: 40vw;
        height: 40vw;
        top: 60%;
        transform: translateY(-60%);
    }
    .valuecircle {
        font-size: 50pt;
        line-height: 60pt;
    }
}

@media screen and (min-width: 376px) and (max-width: 416px) and (orientation: portrait) and (min-height: 700px) and (max-height: 850px) {
    .maincircle {
        min-width: 300px;
        min-height: 300px;
        width: 60vw;
        height: 60vw;
        top: 60%;
        transform: translateY(-60%);
    }
    .valuecircle {
        font-size: 70pt;
        line-height: 80pt;
    }
}

@media screen and (min-width: 376px) and (max-width: 416px) and (orientation: portrait) and (min-height: 850px) {
    .maincircle {
        min-width: 300px;
        min-height: 300px;
        width: 60vw;
        height: 60vw;
        top: 50%;
        transform: translateY(-50%);
    }
    .valuecircle {
        font-size: 70pt;
        line-height: 80pt;
    }
}
/* ==================================== SEGUNDA TIRADA DEFAULT (EN PROCESO) ==================================== */


/* ==================================== TERCERA TIRADA GRANDES (EN PROCESO) ==================================== */
@media screen and (min-width: 417px) and (max-width: 720px) and (orientation: portrait) and (max-height: 700px) {
    .maincircle {
        min-width: 300px;
        min-height: 300px;
        width: 60vw;
        height: 60vw;
        top: 50%;
        transform: translateY(-50%);
    }
    .valuecircle {
        font-size: 70pt;
        line-height: 80pt;
    }
}

@media screen and (min-width: 417px) and (max-width: 720px) and (orientation: portrait) and (min-height: 700px) and (max-height: 850px) {
    .maincircle {
        min-width: 250px;
        min-height: 250px;
        width: 50vw;
        height: 50vw;
        top: 58%;
        transform: translateY(-58%);
    }
    .valuecircle {
        font-size: 55pt;
        line-height: 65pt;
    }
}

@media screen and (min-width: 417px) and (max-width: 720px) and (orientation: portrait) and (min-height: 850px) and (max-height: 1032px){
    .maincircle {
        min-width: 250px;
        min-height: 250px;
        width: 80vw;
        height: 80vw;
        top: 60%;
        transform: translateY(-60%);
    }
    .valuecircle {
        font-size: 105pt;
        line-height: 115pt;
    }
}

@media screen and (min-width: 417px) and (max-width: 720px) and (orientation: portrait) and (min-height: 1032px) {
    .maincircle {
        min-width: 250px;
        min-height: 250px;
        width: 80vw;
        height: 80vw;
        top: 60%;
        transform: translateY(-60%);
    }
    .valuecircle {
        font-size: 105pt;
        line-height: 115pt;
    }
}
/* ==================================== TERCERA TIRADA GRANDES (EN PROCESO) ==================================== */

@media screen and (orientation: landscape) {
    .maincircle {
        min-width: 250px;
        min-height: 250px;
        width: 42vh;
        height: 42vh;
        top: 60%;
        transform: translateY(-60%);
    }
    .valuecircle {
        font-size: 65pt;
        line-height: 75pt;
    }
}

/* ==================== CIRCLE STYLES ==================== */
.maincircle {
    background-color: var(--bkg_circle_timer);
    color: var(--clr_circle_timer);
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    z-index: 9;
}

.valuecircle {
    display: inline-block;
    position: relative;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-align: center;
    font-family: Glegoo;
    font-weight: 700;
}

.shadowcircle{
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Safari */
}

.shadowcircle:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 120vw var(--shw_circle_timer_after);
}

.shadowcircle:active:after {
    box-shadow: 0 0 30px 10px var(--shw_circle_timer_after_active);
    position: absolute;
    border-radius: 50%;
    left: 0;
    top:0;
    opacity: 1;
    transition: 0s;
}

.crcolor_180 { background-color: var(--bkg_crcolor_180); }
.crcolor_60 { background-color: var(--bkg_crcolor_60); }
.crcolor_3 { background-color: var(--bkg_crcolor_3); }

/* ==================== CIRCLE STYLES ==================== */

/* ===================== ICON STYLES ===================== */
.iconsvg {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 40px;
    position: absolute;
    left: 0;
    bottom: 15%;
}
/* ===================== ICON STYLES ===================== */

/* ==================== TOOLS STYLES ==================== */
.transX2 {
    transform: translateX(2%);
}

.mainshadow {
    -webkit-box-shadow: inset 0px 0px 30px 1px rgba(0,0,0,0.75), 0px 0px 35px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 30px 1px rgba(0,0,0,0.75), 0px 0px 35px 1px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 30px 1px rgba(0,0,0,0.75), 0px 0px 35px 1px rgba(0,0,0,0.75);
}
/* ==================== TOOLS STYLES ==================== */


/* ===================== SALA STYLES ===================== */
.mainsala {
    display: block;
    border-radius: 25px;
    text-align: center;
    margin: 15px auto 0 auto;
    padding: 8px;
    text-decoration: none;
    font-family: Share;
    font-weight: 1000;
    font-size: 30px;
    width: 70vw;
    color: var(--bkg_button_sala);
    background-color: var(--clr_button_sala);
    border: none;
    box-shadow: 0 4px 0 1px var(--btn_bottom_shw);
}

.mainsala:hover, .mainsala:active {
    box-shadow: none;
    transform: translateY(4px);
}
/* ===================== SALA STYLES ===================== */

/* ================= COMPANY TEXT STYLES ================= */
.maincompany {
    text-align: center;
    margin-top: 20px;
    font-size: larger;
}
/* ================= COMPANY TEXT STYLES ================= */

/* ==================== FOOTER STYLES ==================== */
footer {
    background-color: var(--bkg_footer_timer);
    border-radius: 25px 25px 0 0;
    border-top: 5px solid var(--bdr_footer_timer);
    height: 150px;
    width: 100vw;
    position: absolute;
    bottom: 0;
    font-size: larger;
}

footer > b {
    display: inline-block;
    margin: 20px 0 10px 30px;
}

footer > p {
    text-align: center;
    margin: 0;
}
/* ==================== FOOTER STYLES ==================== */